@media (min-width: 500px) and (max-width: 640px) {
    header{
        background-color: rgba(255, 255, 255, 0.877);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
    }

    header .logo{
        padding-left: 2%;
        max-width:200px;
        max-height:150px;
        width: auto;
        height: auto;
    }

    body{
        font-size: 100%;
        background-repeat: no-repeat;
    }

    div.pergunta{
        background-color: rgba(255, 255, 255, 0.842);
        height: auto;
        width: 90%;
        color : rgba(63, 63, 63, 0.774);
        font-family: 'fontenova';
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        margin-left: 5%;
        text-align: center;
    }
    
    div.fim{
        background-color: rgba(255, 255, 255, 0.842);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        width: 90%;
        height: 30%;
        margin-left: 5%;
        margin-top: 5%;
        padding-top: 2%;
    }

    h2.fim{
        text-align: center;
        font-size: 350%;
        color : rgba(63, 63, 63, 0.774);
        font-family: 'fontenova';
    }

    h2.pergunta{
        padding-top: 1.5%;
        padding-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
        font-size: 250%;
        text-align: justify;
        display: inline-block;
    }
    
    .pergunta{
        text-align: center;
    }

    div.estrelas{
        font-size: 250%;
        padding-bottom: 1.5%;
    }

    div.botao1{
        padding-top: 3%;
        float: right;
    }

    .botao{
        background-color:rgb(255, 255, 255);
        border: none;
        color:  rgba(2, 120, 104);
        width: 120px;
        height: 50px;
        font-size: 19px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
    }

    .botao:hover{
        background-image: linear-gradient(to left, #1D364E, #00AC8D);
        color: white;
    }

    .estrelas input[type=radio] {
        display: none;
    }

    .estrelas label i.fa:before {
        content:'\f005';
        color: #FC0;
    }

    .estrelas input[type=radio]:checked ~ label i.fa:before {
        color: #CCC;
    }

    @font-face {
        font-family: fontenova;
        src: url("../fonte/Cairo-Regular.ttf");
    }

    div.tipo{
        font-size: 50%;
        text-align: center;
    }

}

@media (min-width: 640px){
    header{
        background-color: rgba(255, 255, 255, 0.877);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
    }

    header .logo{
        padding-left: 100px;
        max-width:300px;
        max-height:150px;
        width: auto;
        height: auto;
    }

    body{
        font-size: 100%;
    }

    div.pergunta{
        background-color: rgba(255, 255, 255, 0.842);
        height: auto;
        width: 60%;
        color : rgba(63, 63, 63, 0.774);
        font-family: 'fontenova';
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        margin-left: 20%;
    }
    
    div.fim{
        background-color: rgba(255, 255, 255, 0.842);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        width: 40%;
        height: 30%;
        margin-left: 30%;
        margin-top: 5%;
        padding-top: 2%;
    }

    h2.pergunta{
        padding-top: 1.5%;
        padding-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
        text-align: justify;
        display: inline-block;
    }
    
    h2.fim{
        text-align: center;
        font-size: 450%;
        color : rgba(63, 63, 63, 0.774);
        font-family: 'fontenova';
    }
    
    .pergunta{
        text-align: center;
    }

    div.estrelas{
        font-size: 300%;
        text-align: center;
        padding-bottom: 1.5%;
    }

    div.botao1{
        padding-top: 3%;
        float: right;
    }

    .botao{
        background-color:rgb(255, 255, 255);
        border: none;
        color:  rgba(2, 120, 104);
        width: 120px;
        height: 50px;
        font-size: 19px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
    }

    .botao:hover{
        background-image: linear-gradient(to left, #1D364E, #00AC8D);
        color: white;
    }

    .estrelas input[type=radio] {
        display: none;
    }

    .estrelas label i.fa:before {
        content:'\f005';
        color: #FC0;
    }

    .estrelas input[type=radio]:checked ~ label i.fa:before {
        color: #CCC;
    }

    @font-face {
        font-family: fontenova;
        src: url("../fonte/Cairo-Regular.ttf");
    }

    div.tipo{
        font-size: 50%;
        text-align: center;
    }
}
