div.header{
    background-color: rgba(255, 255, 255, 0.877);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    height: 100%;
    width: 13%;
}

div.header .logo{
    padding-left: 2%;
    max-width:100%;
    width: auto;
}

div.form{
    padding-top: 90%;
    padding-left: 3%;
}

input[type="text"].input1{
    border: 2px solid rgba(14, 115, 110, 0.87);
    border-radius: 2px;
    width: 90%;
    height: 40px;
    font-size: 120%;
}

.botao{
    text-align: center;
    border: none;
    font-size: 150%;
    color : white;
    background-image: linear-gradient(to left, #1D364E, #00AC8D);
    position: absolute;
    bottom: 0;
    width: 13%;
    height: 7%;
}

div.principal{
    background-color: #d5dfdb00;
    height: 100%;
    padding-top: 12%;
    padding-left: 320px;
}

div.perguntas{
    background-color: #00ac8de5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    height: 50%;
    width: 25%;
    display: inline-block;
    
}

div.qrcode{
    background-color: rgba(255, 255, 255, 0.877);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-left: 10%;
    height: 50%;
    width: 25%;
    display: inline-block;
    
}

div.relatorio{
    background-color: #1d364ee0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-left: 10%;
    height: 50%;
    width: 25%;
    display: inline-block;
    color: white;
    
}

.botao1{
    background-color: #1d364e00;
    border: none;
    color: white;
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 90%;
    font-size: 50px;
    text-align: left;
    
}

.botao2{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color:  rgba(63, 63, 63, 0.774);
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 90%;
    font-size: 50px;
    text-align: left;
}

.botao3{
    background-color: #00ac8d00;
    border: none;
    color:  white;
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 90%;
    font-size: 50px;
    text-align: left;
}

div.formulario{
    background-color: rgba(14, 115, 110, 0.87);
    padding-left: 5%;
    padding-top: 5%;
    margin-left: 15%;
    width: 85%;
    height: 100%;
}

p{
    color:white;
    font-size: 130%;
    padding-top: 1%;
}

select{
    padding: 0.5% 0.5%;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    color: black;
}

input[type="text"]{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    width: 20%;
    height: 30px;
}

input[type="date"]{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    
    height: 30px;
}

textarea {
    width: 70%;
    height: 80px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=submit]{
    border: none;
    width: 100px;
    height: 35px;
}
